{% extends "myapp/base.html" %}
{% block body_block %}
<div class="col-md-10 offset-1">
    <div class="card p-4 shadow-lg animated jello" style="height: 400px;">
        <div class="card-body">
            <h2>{{ post.title|title }}</h2>
            <hr>
            <p>{{ post.content|slice:":150" }}...</p>
        </div>
        <a class="btn btn-outline-info d-flex justify-content-center" style="height: 60px;width:60px;"
            href="{% url 'myapp:detail' post_id=post.id %}">
            <span class="align-self-center">GO</span>
        </a>
    </div>
</div>
{% endblock %}
