{% extends "myapp/base.html" %}
{% block body_block %}
<body>
    <div class="container-fluid text-white bg-info">
        <div class="d-flex justify-content-center">
            <h1 class="text-center d-block display-1">Welcome my dear</h1>
            <div class="p-3 blockquote align-self-end">
                <footer class="blockquote-footer" style="color: #efefef !important">Mr. CRUD</footer>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2 p-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">item 1</li>
                    <li class="list-group-item">item 2</li>
                    <li class="list-group-item">item 3</li>
                </ul>
            </div>
            <div class="col-md-10">
                {% if posts %}
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4 p-3">
                        <div class="card p-4 shadow-lg" style="height: 400px">
                            <div class="card-body">
                                <h2>{{ post.title|title }}</h2>
                                <hr>
                                <p>{{ post.content|slice:":150" }}...</p>
                            </div>
                            <button type="button" name="button" class="btn btn-outline-info">
                                More info
                            </button>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% else %}
                <p>No posts found!</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
