{% extends "myapp/base.jinja" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="box mt-5">
        <div class="login">
            <!-- content here -->
        </div>
    </div>
</div>

{% endblock %}
