{% extends "myapp/base.jinja" %}

{% block content %}
<div class="">
    <a href="{{ url("myapp:post_detail", 1) }}">detail</a>
    <a href="{{ url("myapp:post_list") }}">list</a>
</div>
{% endblock %}
