
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap%27');

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

ul li:hover {
    background-color: #17a2b8;
    color: white;
}

.card:hover {
    border: 1px solid #17a2b8 !important;
}

.card:hover h2 {
    color: #17a2b8 !important;
}

#crud-header {
    position: relative;
    animation-name: popheader;
    animation-duration: 1.5s;
}

@keyframes popheader {
    0% {
        background-color: #bff4fc;
        left: -100%;
    }

    50% {
        background-color: #bff4fc;
    }

    100% {
        background-color: #17a2b8;
        left: 0%;
    }
}

button {
    margin: 0 auto;
    transition-duration: 0.6s !important;
    transition-property: border-radius !important;
}

button:hover {
    border-radius: 50% !important;
}
