
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap%27');

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

ul li:hover {
    background-color: #17a2b8;
    color: white;
}

.card:hover {
    border: 1px solid #17a2b8 !important;
}

.card:hover h2 {
    color: #17a2b8 !important;
}
